[Unit]
Description=race runner

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /home/ubuntu/trr/services/race-runner.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
