[Unit]
Description=stop line detector

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /home/ubuntu/trr/services/stop-line-detector.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
